.flat {
  background-color: rgba(204, 218, 226, 0.349);
}

.bottom-right {
  box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
    -8px -8px 16px 0 rgba(255, 255, 255, 0.5);
}

.btn-lg {
  font-size: 1.5rem;
  padding: 0.375rem 0.75rem;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  color: rgb(139, 139, 139);
  font-size: 1rem;
  line-height: 1.5;
}

.btn-sml {
  padding: 0.375rem 0.75rem;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  color: rgb(139, 139, 139);
  font-size: 1rem;
  line-height: 1.5;
}

.btn-lg:active,
.btn-sml:active {
  box-shadow: inset -8px -8px 16px 0px rgba(255, 255, 255, 0.5),
    inset 6px 6px 10px 0px rgba(0, 0, 0, 0.2);
}

.btn-lg:hover,
.btn-sml:hover {
  color: rgba(139, 139, 139, 0.788);
}
