.mb-2 {
  margin-bottom: 2rem;
}

.flat {
  background-color: rgba(204, 218, 226, 0.349);
}

.inset {
  box-shadow: inset -8px -8px 16px 0px rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px 0px rgba(0, 0, 0, 0.2);
}

.form__group {
  display: flex;
  flex-direction: column;
}

.form__label {
  color: rgb(139, 139, 139);
  font-family: roboto, helvetica, sans-serif;
}

.form__input {
  padding: 0.5rem 0.5rem 0.5rem 0.6rem;
  border: none;
  outline: none;
  width: 100%;
  border-radius: 0.4rem;
  color: rgb(139, 139, 139);
  font-family: roboto, helvetica, sans-serif;
  font-weight: 300;
  font-size: 90%;
}

.form__textarea {
  padding: 0.5rem 0.5rem 0.5rem 0.6rem;
  border: none;
  outline: none;
  width: 100%;
  border-radius: 0.4rem;
  color: rgb(139, 139, 139);
  font-family: roboto, helvetica, sans-serif;
  font-weight: 300;
  font-size: 90%;
}
