.flat {
  background-color: rgba(204, 218, 226, 0.349);
}

.flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-contents-center {
  justify-content: center;
}

.bottom-right-nohighlight {
  box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.2);
}

.toggle-bg {
  border-radius: 2rem;
  display: flex;
  height: 1.25em;
  width: 2.5em;
  border: none;
  outline: none;
  margin-right: 1rem;
  font-size: 1rem;
  cursor: pointer;

  box-shadow: inset -8px -8px 16px 0px rgba(255, 255, 255, 0.5),
    inset 6px 6px 10px 0px rgba(0, 0, 0, 0.2);
}

.toggle {
  border-radius: 1.25rem;
  height: 1.25em;
  width: 1.25em;
  border: none;
  outline: none;
  background-color: #edf2f4;
  font-size: 1rem;
  cursor: pointer;
}

.toggle__light-bg {
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 1rem;
  background-color: #fff;
  background-color: rgb(223, 223, 223);
}

.toggle__light-bg-on {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 1rem;
  background-color: #fff;
  margin: 0;
  background-color: rgba(245, 203, 122, 1);
}

@keyframes toggleOn {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(1.25em);
  }
}

.toggle-on {
  animation: 0.5s toggleOn;
  animation-fill-mode: forwards;
}

@keyframes toggleOff {
  from {
    transform: translateX(1.25em);
  }
  to {
    transform: translateX(0);
  }
}

.toggle-off {
  animation: 0.5s toggleOff;
  animation-fill-mode: forwards;
}
